:root {
   --offset_s: 8px;
   --offset_m: 16px;
   --font-size_m: 32px;
   --font-size_s: 24px;
   --border-radius_m: 16px;
   --border-radius_s: 8px;
   --default-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.grid {
   display: grid;
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-gap: var(--offset_s);
   box-shadow: var(--default-shadow);
   border-radius: var(--border-radius_m);
   padding: var(--offset_s);
}

button {
   background-color: white;
   outline: none;
   border: 0;
   cursor: pointer;
   border-radius: var(--border-radius_s);
   font-size: var(--font-size_m);
}

button:hover {
   background-color: rgb(245, 245, 245);
}

button:active {
   background-color: rgb(240, 240, 240);
}

.grid__cell {
   border-radius: var(--border-radius_m);
   font-weight: 700;
}

.layout {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.game-panel {
   width: 300px;
   height: 300px;
}

.reset-panel {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
   margin-bottom: var(--offset_m);
   padding: var(--offset_s);
   font-size: var(--font-size_s);
   box-shadow: var(--default-shadow);
   border-radius: var(--border-radius_m);
   font-weight: bold;
}