:root {
   --padding_s: 8px;
   --font-size_m: 32px;
   --border-radius_m: 16px;
   --border-radius_s: 8px;
}

.grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-gap: var(--padding_s);
   width: 300px;
   height: 300px;
   box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
   border-radius: var(--border-radius_m);
   padding: var(--padding_s);
}

button {
   background-color: white;
   outline: none;
   transition: .15s ease-in-out all;
   border: 0;
   cursor: pointer;
   border-radius: var(--border-radius_s);
   font-size: var(--font-size_m);
}

button:hover {
   background-color: rgb(245, 245, 245);
}

button:active {
   background-color: rgb(240, 240, 240);
}

.grid__cell {
   border-radius: var(--border-radius_m);
   font-weight: 700;
}

.grid__cell::before {

}

.layout {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}